{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container mt-4">
    <h2 class="text-center mb-4">Confirm Tag Deletion</h2>

    <p class="lead">Are you sure want to delete the tag?</p>

    <form method="post" action="" class="form">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="mt-4">
        <button type="submit" class="btn btn-danger">Delete Tag</button>
        <a href="{% url 'todolist_project:tag-list' %}" class="btn btn-secondary">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}
